<!DOCTYPE html>
<html lang="en" ng-app="consumerComplaintsApp">

<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Angry Consumer!</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" href="/assets/custom.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
   <div class="container-fluid">
      <div class="page-header">
         <h1 class="text-primary">Angry Consumer!</h1>
      </div>
      <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li ng-class="active"><a href="/">Home</a></li>
            <li><a href="/visualization">Visualization</a></li>
            <li><a href="/about">About</a></li>
         </ul>
      </div>
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12">
            <h2>Angry Consumer!</h2>
            <p>"Angry Consumer!" is a free web application ("app") that is provided as a service to consumers of
               financial products in the United States of America. This application provides an alternative user
               experience to the existing <a href="http://www.consumerfinance.gov/complaintdatabase/">Consumer Finance
                  Compliant Database</a>.</p>
            <p>This app provides consumers of financial products the ability to:
            <ul>
               <li>Search various complaints submitted to the <a href="http://www.consumerfinance.gov/">Consumer Finance
                     Protection Bureau</a>. </li>
               <li>List consumer complains by Company name.</li>
               <li>Visualize consumer complaints grouped into various categories for data analysis.</li>
               <li>REST API endpoints to request data in a JSON format that is presented in the web application </li>
            </ul>
            For more information on the dataset used in this application, visit <a
               href="https://catalog.data.gov/dataset/consumer-complaint-database">Data.gov</a>.
            </p>
            <p>
            <h4>Privacy Policy</h4>
            "Angry Consumer!" does not collect any information other than error log messages captured in the hosted
            virtual private server. All data provided by this web application is from publicly available data published
            by the <a href="http://www.consumerfinance.gov/">Consumer Finance Protection Bureau</a>.
            </p>
            <p>
            <h4>Use of Cookies</h4>
            "Angry Consumer!" does not use any cookies.
            </p>
            <a href="javascript:history.go(-1)"><span class="glyphicon glyphicon-backward"></span> Back to previous
               page</a></li>
         </div>
      </div>
   </div>
   <!-- /container -->
   <div class="footer">
      Developed by <a target="_blank" href="https://www.nvarma.com">Navin Varma</a>
   </div>
</body>

</html>
